html {
    background: radial-gradient(#150061, #1f28a1, #323bc0, #6b99fc);
}

body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #014e48;
    text-shadow: 2px 2px 3px #4f6ffcb6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-bottom: 5px;
}

button {
    background-color: #366dad;
    color: #ffffff67;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

img {
    height: 75px;
}

.container {
    padding-top: 10%;
    margin: auto;
    width: 60%;
    height: 90vh;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form-group {
    padding-bottom: 10px;
}

.create-burger {
    text-align: center;
}

#burgerImg {
    display: none;
}

@media only screen and (max-width: 850px) {
    .flex-container {
        justify-content: space-around;
        flex-direction: column;
    }

    .flex-container>div {
        align-self: center;
    }
}